<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
        stopOnFailure="false"
        bootstrap="./vendor/autoload.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stderr="true">
    <testsuites>
        <testsuite name="common">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
         <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                    <directory suffix=".php">./vendor/</directory>
                </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./report/text" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="./report/coverage.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="junit" target="./report/logfile.xml"/>
        <log type="testdox-html" target="./report/testdox.html"/>
        <log type="testdox-text" target="./report/testdox.txt"/>
    </logging>
</phpunit>